* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;

  background-color: black;
  color: #fff;
}
#app {
  overflow: hidden;
}
.bold {
  font-weight: 600;
}
.fs-24px {
  font-size: 24px;
}
.fs-22px {
  font-size: 22px;
}
.fs-20px {
  font-size: 20px;
}
.fs-18px {
  font-size: 18px;
}
.fs-16px {
  font-size: 16px;
}
.fs-14px {
  font-size: 14px;
}
.fs-12px {
  font-size: 12px;
}
.fc-black {
  color: black;
}
.fc-white {
  color: white;
}
.fc-gray {
  color: #aaaaaa;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #1e90ff;
}
.bg-red {
  background-color: #fd5c63;
}
.bg-light-puple {
  background-color: #e6e6fa;
}
.bg-puple {
  background-color: #452c63;
}
.bg-green {
  background-color: #32de84;
}
.bg-yellow {
  background-color: #ffd700;
}
.shadow_1 {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.shadow_2 {
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
